.header {
  min-height: 100vh;
  background-image: url("../img/header-blop.svg");
  background-size: 1054px 761px;
  background-repeat: no-repeat;
  background-position: top left;

  &__logo {
    transition: 0.3s;
  }

  &__logo:hover {
    opacity: 0.6;
  }

  &__logo:active {
    opacity: 0.3;
  }
}
