.header {
  height: 100vh;
  transition: 1s;

  @media (max-height: @screen-rotated) {
    height: max-content;
  }

  &__logo {
    color: @white;
    transition: 0.3s;

    @media (min-width: 540px) {
      color: @main-color;
    }

    &--minimazed {
      @media (max-width: @mobile-only) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__icon--minimazed {
    @media (max-width: @mobile-only) {
      transform: scale(0.5) translate(-25px, -25px);
    }
  }

  &__logo:hover {
    animation-name: letter;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.47, 0.82, 0.17, 1);
  }

  &__logo:active {
    opacity: 0.3;
  }
}
