.hero {
  padding: 40px 100px;

  @media (max-width: @mobile-only) {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 80px;
    padding-right: 0;
  }

  &__title {
    display: inline-block;
    margin: 0;
    color: @white;
    font-size: 60px;
    letter-spacing: -5px;
    cursor: default;

    @media (max-width: @mobile-only) {
      font-size: 40px;
    }
  }

  &__letter {
    position: relative;
    transform: scale(0);
    transition: 0.3s;
    cursor: default;
  }

  &__description {
    margin: 40px 0;
    color: @white;
    font-size: 18px;
    transform: translateY(200px);
    transition: 0.6s;
    opacity: 0;
  }

  &__social-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    transform: translateY(200px);
    transition: 0.6s;
    opacity: 0;
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__social-button {
    color: @white;
    transition: 0.3s;

    &:hover {
      color: lighten(@main-color, 30%);
    }

    &:active {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: none;
      color: lighten(@main-color, 30%);
    }
  }
}
