.modal {
  position: fixed;
  bottom: 60px;
  left: 0;
  padding: 20px 10px;
  text-align: center;
  transform: translateX(-1000px);
  transition: cubic-bezier(0, 0.7, 0.2, 1.1) 0.5s;

  @media (max-width: @mobile-only) {
    top: 100px;
    bottom: unset;
  }

  &__success {
    background-color: #00d50e;
  }

  &__error {
    background-color: #ff0000;
  }

  &--show {
    transform: translateX(0);
  }

  &__description {
    font-size: 16px;
    margin: 0;
  }
}
