.portfolio {
  padding: 0;

  &__title {
    max-width: 1240px;
    margin: 40px auto;
    margin-bottom: -140px;
    padding: 10vw 0 0;

    @media (max-width: @mobile-only) {
      padding-left: 40px;
    }
  }
}
