.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  max-height: 100vh;
  padding: 300px 160px;
  direction: rtl;
  color: @main-color;

  @media (max-width: @mobile-only) {
    grid-template-columns: 1fr;
    padding: 100px 40px;
    direction: ltr;
  }

  &--odd {
    direction: ltr;
    color: @white;
    background-color: @main-color;
    box-shadow: 0 0 30px 10px @main-color;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(1000px);
    transition: 0.4s;
  }

  &__title {
    font-size: 50px;
    margin: 0;
    text-transform: capitalize;
    transform: skewX(45deg) translateX(-250px);
    transition: 0.8s;
  }

  &__description {
    font-size: 18px;
    letter-spacing: 0.1em;
    transform: skewX(-80deg) translateX(-450px);
    transition: 0.8s;
  }

  &__buttons-list {
    display: flex;
    padding: 0;
    gap: 40px;
    list-style-type: none;
  }

  &__button {
    display: block;
    color: inherit;
    transition: 0.3s;

    &:hover {
      color: lighten(@main-color, 50%);
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__image-wrapper {
    transform: translateX(-1000px) skewX(45deg);
    transition: 0.7s;

    @media (max-width: @mobile-only) {
      justify-self: center;
    }
  }

  &__image {
    @media (max-width: @mobile-only) {
      width: 340px;
      height: auto;
    }
  }
}

.section--odd .section__text-wrapper {
  transform: translateX(-1000px);
}

.section--odd .section__image-wrapper {
  transform: translateX(1000px) skewX(-45deg);
}

.section--odd .section__title {
  transform: skewX(-45deg) translateX(250px);
}
