.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  padding: 28vh 10vw;
  color: @main-color;
  gap: 40px;

  @media (max-width: @mobile-only) {
    grid-template-columns: 1fr;
    padding: 100px 0;
  }

  @media (min-width: @tablet) and (max-width: @desktop) {
    padding: 28vh 60px;
  }

  &--odd {
    color: @white;
    background-color: @main-color;
    box-shadow: 0 0 30px 10px @main-color;
  }

  &__text-wrapper {
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    grid-column: 1;
    align-items: flex-start;
    transition: 0.8s;

    @media (min-width: @tablet) and (max-width: @desktop) {
      padding-right: 0;
    }

    @media (max-width: 980px) and (min-width: @mobile-only) {
      padding: 0;
    }
  }

  &__title {
    font-size: 50px;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    transform: skewX(45deg) translateX(-250px);
    transition: 0.8s;
    opacity: 0;

    &::first-letter {
      color: lighten(@main-color, 30%);
    }

    @media (max-width: @mobile-only) {
      transform: skewX(0) translateX(0) translateY(200px);
    }
  }

  &__description {
    font-size: 18px;
    letter-spacing: 0.1em;
    transform: skewX(-80deg) translateX(-450px);
    transition: 0.8s;
    opacity: 0;

    @media (max-width: @mobile-only) {
      transform: skewX(0) translateX(0) translateY(200px);
    }
  }

  &__buttons-list {
    display: flex;
    padding: 0;
    gap: 40px;
    list-style-type: none;
    transform: translateX(-450px);
    transition: 0.8s;
    opacity: 0;

    @media (max-width: @mobile-only) {
      transform: translateX(0) translateY(200px);
    }
  }

  &__button {
    display: block;
    color: inherit;
    transition: 0.3s;

    &:hover {
      color: lighten(@main-color, 30%);
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__image-wrapper {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(8, 55px);
    transform: translateX(1000px) skewX(-45deg);
    transition: 0.7s;
    grid-row: 1;
    grid-column: 2;
    opacity: 0;

    @media (max-width: @mobile-only) {
      justify-self: center;
      transform: translateY(300px) skewX(0);
      opacity: 0;
      grid-template-columns: repeat(12, 30px);
      grid-column: 1;
    }
  }

  &__picture {
    align-self: flex-end;
    transition: 0.3s;

    &--mobile {
      width: max-content;
      grid-column-start: 1;
      grid-row-end: -1;
      z-index: 1;

      @media (max-width: 980px) and (min-width: @mobile-only) {
        grid-column-start: 2;
      }
    }

    &--desktop {
      width: max-content;
      grid-column-start: 2;
      grid-row-end: -1;
      z-index: -1;

      @media (max-width: 980px) and (min-width: @mobile-only) {
        grid-column-start: 1;
      }
    }

    &--tablet {
      width: max-content;
      grid-column-start: 9;
      grid-row-end: -1;
      z-index: 1;

      @media (max-width: 980px) and (min-width: @mobile-only) {
        grid-column-start: 5;
      }
    }
  }

  &__image {
    display: block;
    transition: 0.3s;

    &--mobile {
      @media (max-width: @mobile-only) {
        width: 60px;
        height: auto;
      }
    }

    &--desktop {
      @media (max-width: @mobile-only) {
        width: 300px;
        height: auto;
      }
    }

    &--tablet {
      @media (max-width: @mobile-only) {
        width: 120px;
        height: auto;
      }
    }
  }
}

.section--odd .section__text-wrapper {
  grid-column: 2;

  @media (min-width: @tablet) {
    align-items: end;
  }

  @media (max-width: @mobile-only) {
    grid-column: 1;
  }
}

.section--odd .section__image-wrapper {
  grid-column: 1;
  transform: translateX(-1000px) skewX(45deg);
  opacity: 0;

  @media (max-width: @mobile-only) {
    transform: translateY(300px) skewX(0);
  }
}

.section--odd .section__title {
  transform: skewX(-45deg) translateX(250px);
  opacity: 0;
  text-align: right;

  @media (max-width: @mobile-only) {
    transform: skewX(0) translateX(0) translateY(200px);
    text-align: left;
  }
}

.section--odd .section__description {
  text-align: right;
  transform: translateX(450px);

  @media (max-width: @mobile-only) {
    transform: translateX(0) translateY(200px);
    text-align: left;
  }
}

.section--odd .section__buttons-list {
  transform: translateX(450px);
  opacity: 0;

  @media (max-width: @mobile-only) {
    transform: translateX(0) translateY(200px);
  }
}
