.skills {
  max-width: 1240px;
  margin: auto;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 100px minmax(300px, 800px);
    align-items: center;
    transform: translateX(-250px);
    transition: 0.8s;
    opacity: 0;

    @media (max-width: @mobile-only) {
      grid-template-columns: 80px minmax(220px, 500px);
      transform: translateX(0) translateY(200px);
    }
  }

  &__name {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: fade(@main-color, 75%);

    @media (max-width: @mobile-only) {
      font-size: 24px;
    }
  }

  &__range {
    position: relative;
    display: block;
    height: 60px;
    border: 5px solid @main-color;
    border-radius: 30px;
    box-shadow: 0 0 20px 4px lighten(@main-color, 20%);

    @media (max-width: @mobile-only) {
      height: 40px;
      border: 2px solid @main-color;
    }
  }

  &__value {
    max-width: calc(100% - 4px);
    position: absolute;
    left: 2px;
    top: 2px;
    height: 46px;
    border-radius: 30px;
    background: linear-gradient(to right, #54ccd7 0%, #00d0e8 10%, @main-color 100%);
    transition: all 1.6s, opacity 0.4s;
    opacity: 0;

    @media (max-width: @mobile-only) {
      height: 32px;
    }

    &--html {
      width: 0;
    }

    &--css {
      width: 0;
    }

    &--js {
      width: 0;
    }
  }
}
