.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: clip;
  padding: 0;
  margin: 0;
  font-family: "Coolvetica", "Arial", sans-serif;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/shape.svg");
    background-repeat: round;
    background-size: 60px 130px;
    background-position: center;
    z-index: -1;
  }

  &__blop-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
  }

  &__blop {
    position: absolute;
    width: 1200px;
    height: 1200px;

    &--blured {
      filter: blur(50px);
      color: lighten(@main-color, 20%);
    }

    @media (max-width: @mobile-only) {
      width: 1000px;
      height: 1000px;
    }
  }
}
