.title {
  font-size: 50px;
  margin: 0;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  transition: 0.8s;
  opacity: 0;

  &--animated {
    animation: rotatex 2s ease-in-out;
  }
}
